@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


table{
	margin: 5% auto;
}

table caption{
	background: #2a9d8f;
	font-size: 1.7em;
	padding: 5px;
}

table th{
	background: #2a9d8f;
	font-size: 1.4em;
	padding: 4px 12px;
}

table td{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	background: #90be6d;
	font-size: 1.2em;
	padding: 3px 8px;
}

table td i{
	font-size: 15px;
}